#cloud-config
package_update: true
package_upgrade: true

packages:
  - docker.io
  - docker-compose-v2
  - curl
  - git

users:
  - name: deploy
    groups: sudo, docker
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ${ssh_public_key}

write_files:
  - path: /etc/ssh/sshd_config.d/99-disable-root-login.conf
    content: |
      PermitRootLogin no
      PasswordAuthentication no
    permissions: '0644'

runcmd:
  - systemctl restart ssh
  - curl -fsSL https://install.devpu.sh | bash
